<% include partials/header %>
</head>
<body>
	<div class="container">
      <div class="page-header">
        <h1>TMS</h1>
      </div>
	</div>
	<div class="panel panel-primary">
		<div class="container">
			<h2><%= data %></h2>
			<!--<img src="../public/images/courage.png" alt="Stupid dog, you made me look bad!" class="img-rounded>-->
			<p>Be sure to confirm that your API token is valid and you are using the correct endpoint.</p>
		</div>
	</div>
</body>
<% include partials/footer%>