<% include partials/header %>
<% include partials/navbar%>
</head>
<body>
	<div class="container">
	    <div class="page-header">
	    <h1>TMS</h1>
	    </div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Uh oh... an error occured.</h2>
			</div>
			<div class="panel-body">
			    <p><%= data.statusCode %></p>
				<p><%= data.errorMessageResponse %></p>
				<p><i>Confirm that the set token value is correct:</i> <strong><%= data.tokenUsed %></strong></p> 
			</div>
		</div>
	</div>
</body>
<% include partials/footer%>