<% include partials/header %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>TMS</h1>
      </div>
      <div id="links">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sending Messages</h3>
          </div>
          <div class="panel-body">
            <div><a href="/newe">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              Send an email
            </a></div>
            <div><a href="/news">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              Send an SMS
            </a></div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Exploring Data</h3>
          </div>
          <div class="panel-body">
            <div><a href="/saved_messages">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
              View all messages
            </a></div>
            <div><a href="/search_recipients">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              Search by Recipient
            </a></div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Updating Data</h3>
          </div>
          <div class="panel-body">
            <div><a href="/slurpe">
              <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
              Download data from Granicus (Last download <%= data.date %>)
            </a></div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Viewing Account Information</h3>
          </div>
          <div class="panel-body">
            <div><a href="/fa">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              View from addresses
            </a></div>
          </div>
        </div>

      </div>
    </div>
<% include partials/footer%>
