<div class="container">
  <div class="row">
    <div>
      <form action='/' method='POST'>
        <div>
          <input type='text' name='subject' placeholder='subject'>
        </div>
        <div>
          <input type='textarea' name='body' placeholder='message body'>
        </div>
        <div>
          <input type='textarea' name='recipients' placeholder='recipients'>
        </div>
        <div>
          <button >Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>